beautifulsoup4
crewai
crewai[tools]
docx2txt
duckduckgo-search
google-search-results
langchain
langchain-community
langchain-core
langchainhub
langchain-openai
lxml
openai
python-docx
python-dotenv
requests
scipy
semanticscholar
streamlit
wikipedia
xmltodict
